<%- include('partials/header') %>

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__item set-bg" data-setbg="img/hero/hero-x-01.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span>Boost your Audience</span>
                                <h2>Digital Broadcasting & Promotionllllllllllllllll </h2>
                                <a href="#" class="primary-btn">See more about us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="img/hero/hero-x-03.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span>explore</span>
                                <h2>Web design and development</h2>
                                <a href="#" class="primary-btn">See more about us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__item set-bg" data-setbg="img/hero/hero-x-02.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <span>experts creators @</span>
                                <h2>Graphics,Animation & NFT Project</h2>
                                <a href="#" class="primary-btn">See more about us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Services Section Begin -->
    <section class="services spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="services__title">
                        <div class="section-title">
                            <span>Our services</span>
                            <h2>What We do?</h2>
                        </div>
                        <p>Trained digital technology experts are at your disposal to render you varieties of digital services with high perfromance, customization flexibilities </p>
                        <a href="#" class="primary-btn">View all services</a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="img/icons/ci-1.png" alt="">
                                </div>
                                <h4>Software Development</h4>
                                <p>Our Team will design and build softwares solutions for your buisness or idea with modern design and functionality in place</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="img/icons/si-2.png" alt="">
                                </div>
                                <h4>Graphics Design & NFT Project</h4>
                                <p>Various Graphics expert are available to create special and outstanding graphics works for you or your organization with customization flexibilities.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="img/icons/ci-4.png" alt="">
                                </div>
                                <h4>Digital promotion & Marketing </h4>
                                <p>Are you a buisness manager? irrespective of the atmosphere of your occupation we shall increase your traffic organically through solid internet broadcasting</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="services__item">
                                <div class="services__item__icon">
                                    <img src="img/icons/ci-3.png" alt="">
                                </div>
                                <h4>Digital Support Consultants </h4>
                                <p>Are you currently going through a digital challenge, website issues? account issues? amongst many others. @ Tbeetech we resolve varities of technical issues professionally</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services Section End -->

   

    <!-- Counter Section Begin -->
    <section class="counter">
        <div class="container">
            <div class="counter__content">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item">
                            <div class="counter__item__text">
                                <img src="img/icons/ci-1.png" alt="">
                                <h2 class="counter_num">89</h2>
                                <p>Compled Projects</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item second__item">
                            <div class="counter__item__text">
                                <img src="img/icons/ci-2.png" alt="">
                                <h2 class="counter_num">88</h2>
                                <p>Happy clients</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item third__item">
                            <div class="counter__item__text">
                                <img src="img/icons/ci-3.png" alt="">
                                <h2 class="counter_num">76</h2>
                                <p>Perspective clients</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="counter__item four__item">
                            <div class="counter__item__text">
                                <img src="img/icons/ci-4.png" alt="">
                                <h2 class="counter_num">82</h2>
                                <p>Completed Projects</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Section End -->

    <!-- Team Section Begin -->
    <section class="team spad set-bg" data-setbg="img/team-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title team__title">
                        <span>Nice to meet</span>
                        <h2>OUR Team</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="team__item set-bg" data-setbg="img/team/team-1.jpg">
                        <div class="team__item__text">
                            <h4>Oluwatobi</h4>
                            <p>Software Expert</p>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 p-0">
                    <div class="team__item team__item--second set-bg" data-setbg="img/team/team-2.jpg">
                        <div class="team__item__text">
                            <h4>Emmanuel</h4>
                            <p>Graphics & Animation Expert</p>
                            <div class="team__item__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="col-lg-12 p-0">
                    <div class="team__btn">
                        <a href="#" class="primary-btn">Meet Our Team</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <!-- Latest Blog Section Begin -->
    <section class="latest spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title center-title">
                        <span>Our Blog</span>
                        <h2>Blog Update</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="latest__slider owl-carousel">
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>US government launches new AI cybersecurity challenge</h4>
                            <ul>
                                <li>Oct 05, 2023</li>
                                <li>02 Comment</li>
                                
                            </ul>
                            <p>The Biden-Harris Administration in the United States has launched a new two-year competition that aims to use artificial intelligence (AI) to help protect some of the country's most important software.

                                The 'AI Cyber Challenge' will bring together competitors from across the country to look at how software vulnerability, in areas from critical infrastructure to the code that runs the internet, can be identified and fixed using AI.
                                
                                Several leading tech companies, including Google and Microsoft, will work with the Defense Advanced Research Projects Agency on the competition, which will offer nearly $20 million in prizes.
                                
                                The Administration hopes the competition will showcase AI as a force for good and demonstrate its potential to tackle critical challenges.</p>
                            <a href="#">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4> Saudi Arabia and UAE buy up computer chips for gen AI</h4>
                            <ul>
                                <li>Oct 05, 2023</li>
                                <li>05 Comment</li>
                            </ul>
                            <p>The Financial Times (paywall) reports that Saudi Arabia and the United Arab Emirates are buying thousands of Nvidia computer chips to support their artificial intelligence ambitions.

                                According to the FT, Saudi Arabia has purchased at least 3,000 of the company's H100 chips.
                                
                                It comes amid a global push to secure hardware, like chips, that is vital for the development of artificial intelligence technologies. American tech firms, like Google and Microsoft, are major global buyers of Nvidia chips.
                                
                                The H100 chip was described by Nvidia's President, Jensen Huang, as 'the world's first computer [chip] designed for generative AI.'...</p>
                            <a href="#">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>Blizzard primes Diablo IV for Steam release later this month</h4>
                            <ul>
                                <li>Oct 05, 2023</li>
                                <li>05 Comment</li>
                            </ul>
                            <p>Blizzard is bringing Diablo IV over to Steam. Starting October 17, PC players can play the action RPG through Valve's ecosystem rather than the Blizzard's first-party launcher, Battle.net.


                                The move continues Activision Blizzard's recent efforts to migrate its newer (and somewhat old) games to Steam. In August, Blizzard brought Overwatch 2 to the platform and, despite being inundated with negative reviews, it opened as a Steam bestseller.
                                
                                For most of Blizzard's lifetime, its games have existed on Battle.net. Bringing Diablo IV out of that ecosystem shows the company's continued shift toward widening the audience for its games by hosting titles a massive PC storefront like Steam and paying platform fees to reach new players.
                                
                                Compared to Overwatch 2, which arrived on Steam nearly a year after its initial release, Diablo IV's jump after four months is considerably shorter. But unlike the hero shooter, Blizzard's newest title has been seemingly doing well in the months since release. 
                                
                                Shortly after its June launch, Diablo IV was said to be Blizzard's fastest-selling game ever, and Activision Blizzard wasted no time in bragging about the game's success. Coming to Steam will only boost its popularity even further, particularly since it'll have cross-play like its PC and console versions....</p>
                            <a href="#">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>Stray Gods crowned GOTY at 2023 Australian Game Developer Awards</h4>
                            <ul>
                                <li>Oct 05, 2023</li>
                                <li>05 Comment</li>
                            </ul>
                            <p>Summerfall Studios' roleplaying musical Stray Gods was crowned Game of the Year at the 2023 Australian Game Developer Awards (AGDAs) in Melbourne.</p>
                            <a href="#">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>3 agri-tech centres merging to drive farming innovation</h4>
                            <ul>
                                <li>Oct 05, 2023</li>
                                <li>05 Comment</li>
                            </ul>
                            <p>Three of the UK’s four agri-tech centres are to merge into a single entity to drive a more joined-up approach towards new farming technologies and innovations.

                                The three to merge are Crop Health and Protection (Chap), the Centre for Innovation Excellence in Livestock (Ciel) and the Agricultural Engineering, Precision and Innovation (Agri-EPI) Centre.
                                
                                This new single entity aims to facilitate a stronger cross-sectoral approach and drive better outcomes for the agri-tech sector across innovation, commercialisation and adoption, as well as research...</p>
                            <a href="#">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>Make-IT in Africa, Orange open applications for Senegal-based agri-tech programme</h4>
                            <ul>
                                <li>Oct 05, 2023</li>
                                <li>05 Comment</li>
                            </ul>
                            <p>German government-funded initiative Make-IT in Africa and mobile operator Orange have opened applications for the GreenAPI: Smart Agriculture Programme, which aims to help agri-tech startups in Senegal scale more quickly.</p>
                            <a href="#">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog__item latest__item">
                            <h4>TON raises 8-figure sum from MEXC to make Telegram a Web3 super-app</h4>
                            <ul>
                                <li>Oct 5, 2023</li>
                                <li>05 Comment</li>
                            </ul>
                            <p>Telegram founder Pavel Durov has repeatedly pointed out the role of the TON blockchain in Telegram’s potential Web3 journey.
                                The Open Network (TON) — a decentralized blockchain platform initially designed by Telegram — has secured major funding from the venture arm of the cryptocurrency exchange MEXC.

TON has raised an eight-figure investment from MEXC Ventures — a subsidiary of MEXC’s global cryptocurrency exchange MEXC — the firm announced on Oct. 4. In conjunction with the funding, MEXC and the TON Foundation have entered into a strategic partnership aiming to promote global Web3 accessibility by lowering the barriers of entry.
                            </p>
                            <a href="#">Read more <span class="arrow_right"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Blog Section End -->

    <!-- Call To Action Section Begin -->
    <section class="callto spad set-bg" data-setbg="img/callto-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="callto__text">
                        <h2>
                            WHERE IDEAS BECOMES REALITY. INTERACT WITH OUR QUALITY AGENTS NOW. </h2>
                        <p>we are an inbox away</p>
                        <a href="contact">contact now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action Section End -->

<%- include('partials/footer') %>

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        document.getElementById('home').classList.add('active')
        document.getElementById('about').classList.remove('active')
        document.getElementById('contact').classList.remove('active')
        document.getElementById('services').classList.remove('active')
        document.getElementById('portfolio').classList.remove('active')
        document.getElementById('blog').classList.remove('active')

    </script>
</body>

</html>